@*  main first page *@
@*  Razor code block that lets the page know we want to use this as our layout file: *@

@{
  Layout = "_Layout";
}

<h1>Welcome to Pierres Bakery!</h1>
<h2>Serving the finest French baked goods</h2>
<h3>Are you a vendor?</h3>
<h3><a href='/vendors'>Click here.</a></h3>
@* links to Categories/Index page *@

@* links to Categories/New *@