@{
  Layout = "_Layout";
}

@using Bakery.Models;

<h3>Here are all the orders in this vendor:</h3>

<ol>
  @* square bracket to grab key value pairs from dictionary called model passed into the view(model) *@
@foreach (Order order in @Model["orders"])
{
  <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a></li>
  @* itmes are nested within catigories in the link to th CategoriesContorler *@

}
</ol>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></p>
<p><a href='/vendors'>Return to vendor list</a></p>
<p><a href='/'>Return to Main Page</a></p>