@{
  Layout = "_Layout";
}

<h1>Bakery Orders Details: </h1>

<h2>@Model["order"].Title</h2>
<p>@Model["order"].Description</p>
<p>$@Model["order"].Price</p>
<p>@Model["order"].Date</p>
<h3>Vendor: @Model["vendor"].Name</h3>
@* square bracket notation for navigating a dictionary *@

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
<a href='/vendors'>View all vendors</a>