@{
  Layout = "_Layout";
}

<h1>Bakery Orders For @Model["vendor"].Name</h1>

<p>Title: @Model["order"].Title</p>
<p>Description: @Model["order"].Description</p>
<p>Price $@Model["order"].Price</p>
<p>Date @Model["order"].Date</p>

@* square bracket notation for navigating a dictionary *@

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
<a href='/vendors'>View all vendors</a>